<!doctype html>
<html>
  <head>
    <title>Netlify Demo</title>
  </head>
  <body>
    {{- block "main" . }}{{- end }}

    <hr>

    <a href="/.netlify/functions/hello-world">Hello World Function</a>

    <hr>

    <ul>
      <li>{{ getenv "HELLO_TOML" }}</li>
      <li>{{ getenv "HELLO_SETTINGS" }}</li>
    </ul>

    <hr>

    <h2>Guest Book</h2>

    <form name="Guest Book" method="post" data-netlify="true">
      <div>
        <div><label for="name">Name:</label></div>
        <div><input id="name" type="text" name="name" placeholder="Your name"></div>
      </div>

      <div>
        <div><label for="message">Message:</label></div>
        <div><textarea id="message" name="message" placeholder="Your message"></textarea></div>
      </div>

      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
